.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

.no-border {
    border: 0;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}

.stretch-item {
    width: 100%;
}

.footer {
    background-color: #f5f5f5;
}

#sticky-footer {
    flex-shrink: none;
}